USE [master]
GO
/****** Object:  Database [Dalas]    Script Date: 12/23/2020 3:57:01 PM ******/
CREATE DATABASE [Dalas]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dalas', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ARSASQL\MSSQL\DATA\Dalas.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB ), 
 FILEGROUP [ManjaVrednost] 
( NAME = N'FileManje', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ARSASQL\MSSQL\DATA\FajlManje.ndf' , SIZE = 5120KB , MAXSIZE = 102400KB , FILEGROWTH = 5120KB ), 
 FILEGROUP [VecaVrednost] 
( NAME = N'FileVece', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ARSASQL\MSSQL\DATA\FajlVece.ndf' , SIZE = 5120KB , MAXSIZE = 102400KB , FILEGROWTH = 5120KB )
 LOG ON 
( NAME = N'Dalas_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.ARSASQL\MSSQL\DATA\Dalas_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dalas].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dalas]
GO
/****** Object:  SqlAssembly [UserDefinedType]    Script Date: 12/23/2020 3:57:01 PM ******/
CREATE ASSEMBLY [UserDefinedType]
FROM 0x4D5A90000300000004000000FFFF0000B800000000000000400000000000000000000000000000000000000000000000000000000000000000000000800000000E1FBA0E00B409CD21B8014CCD21546869732070726F6772616D2063616E6E6F742062652072756E20696E20444F53206D6F64652E0D0D0A2400000000000000504500004C0103008A71DA5F0000000000000000E00022200B013000000A000000060000000000003E290000002000000040000000000010002000000002000004000000000000000600000000000000008000000002000000000000030060850000100000100000000010000010000000000000100000000000000000000000EC2800004F00000000400000C002000000000000000000000000000000000000006000000C000000B42700001C0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000200000080000000000000000000000082000004800000000000000000000002E746578740000004409000000200000000A000000020000000000000000000000000000200000602E72737263000000C00200000040000000040000000C0000000000000000000000000000400000402E72656C6F6300000C000000006000000002000000100000000000000000000000000000400000420000000000000000000000000000000020290000000000004800000002000500D4210000E005000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001E027B010000042A2202037D010000042A1E027B020000042A2202037D020000042A1E027B030000042A2202037D030000042A00133001000C0000000100001100027B040000040A2B00062A13300400670000000200001100027B040000040A062C0872010000700B2B52001B8D0B00000125160228010000060C1202280500000AA22517720B000070A225180228030000060C1202280500000AA22519720B000070A2251A0228050000060C1202280500000AA2280600000A0B2B00072A00133002001700000003000011001200FE15020000021200177D04000004060B2B00072A001B3005008400000004000011000F00280700000A0B072C0828090000060C2B6E1200FE1502000002000F00FE16090000016F0800000A178D0E00000125161F589D6F0900000A0D120009169A6F0800000A280A00000A280200000600120009179A6F0800000A280A00000A280400000600120009189A6F0800000A280A00000A280600000600060CDE042600FE1A082A0110000000001C00627E00040A00000142534A4201000100000000000C00000076342E302E33303331390000000005006C00000084020000237E0000F00200001C02000023537472696E6773000000000C05000010000000235553001C0500001000000023475549440000002C050000B400000023426C6F6200000000000000020000015717A2010900000000FA013300160000010000000F00000002000000040000000A00000004000000010000000A00000004000000040000000100000005000000080000000100000002000000000039010100000000000600E200B30106000201B3010600B200A0010F00D30100000A00FE017F010A00C6007F010600A20069010A008800E2010A002601E20106007001690106003201690106000300690106000502690106007A016901060012026901000000000900000000000100010009211000120000001D000100010001006C00540001003200540001004F00540006004D015700502000000000860856005A000100582000000000860861000100010061200000000086081C005A0002006920000000008608270001000200722000000000860839005A0003007A20000000008608440001000300842000000000E6095E013B0004009C2000000000C600300120000400102100000000960855015E0004003421000000009600AC00630004000000010020010000010020010000010020010000010020010200210009009A01010011009A01060019009A010A0031009A0110006100300120005900F701240049005E013B0069003001200059000C023F007900010046002E000B0077002E00130080002E001B009F0043002300A80016001A002A00310002000100000065006A0000002B006A00000048006A00000062016E00000064017200020001000300010002000300020003000500010004000500020005000700010006000700020007000900020009000B00048000000000000000000000000000000000920000000400000000000000000000004B007F00000000000400000000000000000000004B007300000000000000000000546F496E743332003C4D6F64756C653E0044696D656E7A696A61006765745F536972696E61007365745F536972696E6100736972696E61006765745F566973696E61007365745F566973696E6100766973696E61006765745F44757A696E61007365745F44757A696E610064757A696E610053797374656D2E44617461006D73636F726C696200494E756C6C61626C650055736572446566696E6564547970650056616C7565547970650050617273650044656275676761626C654174747269627574650053716C55736572446566696E65645479706541747472696275746500436F6D70696C6174696F6E52656C61786174696F6E734174747269627574650052756E74696D65436F6D7061746962696C6974794174747269627574650076616C75650053716C537472696E6700546F537472696E670055736572446566696E6564547970652E646C6C0069735F4E756C6C006765745F4E756C6C006765745F49734E756C6C0053797374656D00457863657074696F6E0043686172004D6963726F736F66742E53716C5365727665722E536572766572002E63746F720053797374656D2E446961676E6F73746963730053797374656D2E52756E74696D652E436F6D70696C6572536572766963657300446562756767696E674D6F6465730053797374656D2E446174612E53716C547970657300436F6E63617400466F726D6174004F626A6563740053706C697400436F6E7665727400000000094E0055004C004C000003580000009AE824C01A337A4FA04F322795A44E420004200101080320000105200101111105200101111503070102050703020E080320000E0500010E1D0E0607021108110809070411080211081D0E032000020620011D0E1D03040001080E08B77A5C561934E08902060802060203200008040000110806000111081125032800080328000204080011080801000800000000001E01000100540216577261704E6F6E457863657074696F6E5468726F777301080100070100000000080100010000000000000000000000008A71DA5F00000000020000001C010000D0270000D00900005253445316D5FCDA43ADAF468134583B643F85F601000000433A5C55736572735C415253415C4465736B746F705C42425C42617A65325C507265647261675C44616C61735C55736572446566696E6564547970655C6F626A5C44656275675C55736572446566696E6564547970652E70646200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001429000000000000000000002E29000000200000000000000000000000000000000000000000000020290000000000000000000000005F436F72446C6C4D61696E006D73636F7265652E646C6C0000000000FF2500200010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100100000001800008000000000000000000000000000000100010000003000008000000000000000000000000000000100000000004800000058400000640200000000000000000000640234000000560053005F00560045005200530049004F004E005F0049004E0046004F0000000000BD04EFFE00000100000000000000000000000000000000003F000000000000000400000002000000000000000000000000000000440000000100560061007200460069006C00650049006E0066006F00000000002400040000005400720061006E0073006C006100740069006F006E00000000000000B004C4010000010053007400720069006E006700460069006C00650049006E0066006F000000A001000001003000300030003000300034006200300000002C0002000100460069006C0065004400650073006300720069007000740069006F006E000000000020000000300008000100460069006C006500560065007200730069006F006E000000000030002E0030002E0030002E003000000048001400010049006E007400650072006E0061006C004E0061006D0065000000550073006500720044006500660069006E006500640054007900700065002E0064006C006C0000002800020001004C006500670061006C0043006F0070007900720069006700680074000000200000005000140001004F0072006900670069006E0061006C00460069006C0065006E0061006D0065000000550073006500720044006500660069006E006500640054007900700065002E0064006C006C000000340008000100500072006F006400750063007400560065007200730069006F006E00000030002E0030002E0030002E003000000038000800010041007300730065006D0062006C0079002000560065007200730069006F006E00000030002E0030002E0030002E0030000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000C000000403900000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
WITH PERMISSION_SET = SAFE
GO
ALTER ASSEMBLY [UserDefinedType]
ADD FILE FROM 0x4D6963726F736F667420432F432B2B204D534620372E30300D0A1A445300000000020000020000001F00000098000000000000001B000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000C0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF380000F0FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF0BCA3101380000000010000000100000000000001000FFFF04000000FFFF03000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA3101380000000010000000100000000000001100FFFF04000000FFFF0300000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31018A71DA5F0100000016D5FCDA43ADAF468134583B643F85F600000000000000000100000001000000000000000000000000000000DC51330100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF04000000FFFF030000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000BCA310138000000001000000010000000000000FFFFFFFF04000000FFFF030000000000FFFFFFFF00000000FFFFFFFF00000000FFFFFFFF000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD0FD02988B8111342878B770E8597AC16200000000000000036291B5C64E6A65F1C877934C3EE20D04FDE1C6B0C6086746DECA86812D2537D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000F862513FC607D311905300C04FA302A1C4454B99E9E6D211903F00C04FA302A10B9D865A1166D311BD2A0000F80849BD0FD02988B8111342878B770E8597AC162000000000000000820D57E19110B281BB9A191D9958391EC159094982937744C3FEB26D48E9929B00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003B010000000000003B010000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FEEFFEEF010000003601000000433A5C55736572735C415253415C4465736B746F705C42425C42617A65325C507265647261675C44616C61735C55736572446566696E6564547970655C44696D656E7A696A612E63730000633A5C75736572735C617273615C6465736B746F705C62625C62617A65325C707265647261675C64616C61735C75736572646566696E6564747970655C64696D656E7A696A612E637300433A5C55736572735C415253415C417070446174615C4C6F63616C5C54656D705C2E4E45544672616D65776F726B2C56657273696F6E3D76342E352E53716C436C72417474726962757465732E637300633A5C75736572735C617273615C617070646174615C6C6F63616C5C74656D705C2E6E65746672616D65776F726B2C76657273696F6E3D76342E352E73716C636C72617474726962757465732E63730007000000960000004B000000E6000000010000004C000000000000000000000005000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001BE23001AC0000008B14442BECD3D60101000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000040000000100000005000000000000004C000000280000001BE230016D44CE5768000000010000004B0000004C000000650000000000000000000000E6000000280000001BE23001154EAB0268000000960000004B000000E60000006500000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000004000000F40000000800000096000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000400000032002A1100000000FC00000000000000070000000000000000000000010000060000000001000000006765745F44757A696E61001600031104000000C80000000700000000000000010000000A0024115553797374656D00120024115553797374656D2E44617461000000001A0024115553797374656D2E446174612E53716C436C69656E7400001A0024115553797374656D2E446174612E53716C54797065730000001E002411554D6963726F736F66742E53716C5365727665722E53657276657200020006002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040000000C000000010005000200060032002A11000000006401000000000000080000000000000000000000020000060700000001000000007365745F44757A696E61002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A1100000000CC01000000000000070000000000000000000000030000060F00000001000000006765745F536972696E61002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A11000000003402000000000000080000000000000000000000040000061600000001000000007365745F536972696E61002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A11000000009C02000000000000070000000000000000000000050000061E00000001000000006765745F566973696E61002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A11000000000403000000000000080000000000000000000000060000062500000001000000007365745F566973696E61002E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004010000040100000C000000010000060200060032002A110000000078030000000000000C0000000000000000000000070000062D00000001000000006765745F49734E756C6C003A000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040100000C00000001000006040600020C000000160100000200060032002A1100000000F00300000000000067000000000000000000000008000006390000000100000000546F537472696E670000003E000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040100000C000000010000060406000310000000020C1601000000000200060032002A1100000000980400000000000017000000000000000000000009000006A000000001000000006765745F4E756C6C00000016000311F40300005804000017000000A000000001000000160020110000000003000011000000000000000064696D00020006003A000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040100000C00000001000006040600000C000000011A1601020006002E002A110000000084050000000000008400000000000000000000000A000006B7000000010000000050617273650000160003119C0400003C05000084000000B7000000010000001E0020110000000004000011000000000000000064696D656E7A696A6100000016000311CC0400003805000062000000D3000000010000001A0020110300000004000011000000000000000076616C7565730000020006000200060042000404C93FEAC6B359D649BC250902BBABB460000000004D0044003200000004020000040100000C0000000100000604060003140000000157020C16010180A200000002000600F200000024000000000000000100010007000000000000000100000018000000000000001000008020002600F20000002400000007000000010001000800000000000000010000001800000000000000100000802F003D00F2000000240000000F0000000100010007000000000000000100000018000000000000001100008020002600F20000002400000016000000010001000800000000000000010000001800000000000000110000802F003D00F2000000240000001E0000000100010007000000000000000100000018000000000000001200008020002600F20000002400000025000000010001000800000000000000010000001800000000000000120000802F003D00F20000003C0000002D000000010001000C000000000000000300000030000000000000001A000080010000001A0000800A0000001A0000800D000E000F001E001F002000F20000006C000000390000000100010067000000000000000700000060000000000000001E000080010000001F00008008000000EEEFFE800B000000200000801300000022000080140000002300008065000000250000800500060009001A00000000000D001B0009000A000D00480005000600F200000054000000A00000000100010017000000000000000500000048000000000000002B000080010000002C000080090000002D000080110000002E000080150000002F00008009000A000D002D000D0020000D00180009000A00F2000000CC000000B70000000100010084000000000000000F000000C00000000000000035000080010000003600008009000000EEEFFE800C0000003700008014000000390000801C0000003B0000801D0000003C0000803B0000003D000080500000003E000080650000003F0000807A000000410000807E000000430000807F00000044000080800000004500008082000000470000800500060009001A00000000000D00230009002F0009000A000D003B000D0046000D0046000D0046000D001E0009001A0009000A000D00130005000600F400000008000000010000000000000050000000000000001C000000340000005000000068000000840000009C000000B8000000D0000000EC000000040100002001000038010000540100006C010000840100009C010000B4010000CC010000E001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF1A00000005402000051000000010000008500000001000000010000000100000035000000010000006D010000010000001D00000001000000E10100000100000021010000010000009D010000010000005501000001000000B900000001000000ED0000000100000039010000010000008501000001000000B501000001000000CD010000010000009D0000000100000069000000010000000501000001000000D100000001000000010000000000000000000000000000000000000000000000000000000000000001000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000080080000000020000000000000000010400000000000000000000000000000000000000000000000000000000000001000200000000000000000000000000000000000000000000000000000000000100000000000000000000000000000000000000000000000000000000000000010000000000000000000000000000000000000000000000000000000000000001000400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000200000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000800800080000800000000000000000000000000000000000C0000001800000024000000300000003C0000004800000054000000600000006C0000007800000084000000900000009C000000A8000000B4000000C0000000CC000000D8000000E40000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A002511000000000400000001006765745F44757A696E61000000001600291100000000040000000100303630303030303100001A002511000000000001000001007365745F44757A696E61000000001600291100000000000100000100303630303030303200001A002511000000006801000001006765745F536972696E61000000001600291100000000680100000100303630303030303300001A00251100000000D001000001007365745F536972696E61000000001600291100000000D00100000100303630303030303400001A002511000000003802000001006765745F566973696E61000000001600291100000000380200000100303630303030303500001A00251100000000A002000001007365745F566973696E61000000001600291100000000A00200000100303630303030303600001A002511000000000803000001006765745F49734E756C6C0000000016002911000000000803000001003036303030303037000016002511000000007C0300000100546F537472696E67000016002911000000007C0300000100303630303030303800001600251100000000F403000001006765745F4E756C6C00001600291100000000F403000001003036303030303039000012002511000000009C040000010050617273650016002911000000009C040000010030363030303030610000000000000000000010000000000000000000000000000000000000000000000000000000FFFFFFFF1A092FF10000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000FFFFFFFF77093101010000000D000C8E0E00E6640F000200D80000001C0100002C000000B0000000000000000000000016000000190000000000EEC00000000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000C008805000000000000000300000100000000000000000000000000000044696D656E7A696A61003242463136414444000000000000FFFF000000000000FFFFFFFF00000000FFFF0000000000000000000000000B00040000000000000010000000010000000000000000000000000000003C44616E676C696E67446F63756D656E74732A32323333343362642D613835392D343161332D393063302D3964666131303166316139353E0037464244413244320000002DBA2EF10100000000000000070000000000000000000000000000000000000001000000070000000800000000000000000000000000000000000000010000000F000000070000000000000000000000000000000000000001000000160000000800000000000000000000000000000000000000010000001E000000070000000000000000000000000000000000000001000000250000000800000000000000000000000000000000000000010000002D0000000C000000000000000000000000000000000000000100000039000000670000000000000000000000000000000000000001000000A0000000170000000000000000000000000000000000000001000000B70000008400000000000000000000000000000000000000020002000D01000000000100FFFFFFFF000000003B0100000802000000000000FFFFFFFF00000000FFFFFFFF0200020000000100010001005000000000000000433A5C55736572735C415253415C417070446174615C4C6F63616C5C54656D705C2E4E45544672616D65776F726B2C56657273696F6E3D76342E352E53716C436C72417474726962757465732E637300433A5C55736572735C415253415C4465736B746F705C42425C42617A65325C507265647261675C44616C61735C55736572446566696E6564547970655C44696D656E7A696A612E6373000000FEEFFEEF010000000100000000010000000000000000000000FFFFFFFFFFFFFFFFFFFF0A00FFFFFFFFFFFFFFFFFFFF00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000942E31018A71DA5F0100000016D5FCDA43ADAF468134583B643F85F6D20000002F4C696E6B496E666F002F6E616D6573002F7372632F686561646572626C6F636B002F7372632F66696C65732F633A5C75736572735C617273615C6465736B746F705C62625C62617A65325C707265647261675C64616C61735C75736572646566696E6564747970655C64696D656E7A696A612E6373002F7372632F66696C65732F633A5C75736572735C617273615C617070646174615C6C6F63616C5C74656D705C2E6E65746672616D65776F726B2C76657273696F6E3D76342E352E73716C636C72617474726962757465732E637300050000000A00000001000000A602000000000000110000000700000000000000050000000A000000060000002200000008000000770000000900000000000000DC51330100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000100000002000000036010000380000003F030000380000000000000066010000AC00000068000000680000002800000018000000DC080000040300002C000000F80100000300000019000000060000001700000018000000070000000B0000000C00000008000000090000000A0000000D0000000E0000000F000000100000001100000012000000130000001400000016000000150000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001A00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000
AS N'UserDefinedType.pdb'
GO
/****** Object:  PartitionFunction [VrednostOtpremnice]    Script Date: 12/23/2020 3:57:01 PM ******/
CREATE PARTITION FUNCTION [VrednostOtpremnice](numeric(11,2)) AS RANGE LEFT FOR VALUES (99999.00)
GO
/****** Object:  PartitionScheme [VrednostOtpremniceSHEMA]    Script Date: 12/23/2020 3:57:01 PM ******/
CREATE PARTITION SCHEME [VrednostOtpremniceSHEMA] AS PARTITION [VrednostOtpremnice] TO ([ManjaVrednost], [VecaVrednost])
GO
/****** Object:  UserDefinedDataType [dbo].[Kolicina]    Script Date: 12/23/2020 3:57:01 PM ******/
CREATE TYPE [dbo].[Kolicina] FROM [numeric](10, 0) NULL
GO
/****** Object:  UserDefinedType [dbo].[Dimenzija]    Script Date: 12/23/2020 3:57:01 PM ******/
CREATE TYPE [dbo].[Dimenzija]
EXTERNAL NAME [UserDefinedType].[Dimenzija]
GO
/****** Object:  Table [dbo].[GarancijaDetalji]    Script Date: 12/23/2020 3:57:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GarancijaDetalji](
	[Sifra] [int] NOT NULL,
	[Napomena] [nvarchar](50) NULL,
	[TelBrojKupca] [nvarchar](50) NULL,
	[AdresaKupca] [nvarchar](50) NULL,
	[EmailKupca] [nvarchar](50) NULL,
	[ImeProdavca] [nvarchar](50) NULL,
	[TelBrProdavca] [nvarchar](50) NULL,
	[AdresaProdavca] [nvarchar](50) NULL,
	[SifraR] [int] NULL,
	[RBR] [int] NULL,
 CONSTRAINT [PK_GarancijaDetalji] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GarancijaGlavno]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GarancijaGlavno](
	[Sifra] [int] NOT NULL,
	[Datum] [date] NULL,
	[Kupac] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JedinicaMere]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JedinicaMere](
	[Sifra] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_JedinicaMere] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Katalog]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Katalog](
	[Sifra] [int] NOT NULL,
	[Datum] [date] NULL,
	[BrojKataloga] [nvarchar](50) NULL,
 CONSTRAINT [PK_Katalog] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kupac]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kupac](
	[Sifra] [int] NOT NULL,
	[Mesto] [nvarchar](50) NULL,
	[Kontakt] [nvarchar](50) NULL,
 CONSTRAINT [PK_Kupac] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materijal]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materijal](
	[Sifra] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
	[UvecanjeCene] [numeric](11, 2) NULL,
	[TipM] [int] NULL,
 CONSTRAINT [PK_Materijal] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OsnovnaCena]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OsnovnaCena](
	[SifraP] [int] NOT NULL,
	[Datum] [date] NOT NULL,
	[Iznos] [numeric](11, 2) NULL,
 CONSTRAINT [PK_OsnovnaCena] PRIMARY KEY CLUSTERED 
(
	[SifraP] ASC,
	[Datum] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Otpremnica]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Otpremnica](
	[Sifra] [int] NULL,
	[Datum] [date] NULL,
	[Napomena] [nvarchar](50) NULL,
	[AdresaIsporuke] [nvarchar](50) NULL,
	[Vozac] [nvarchar](50) NULL,
	[VoziloRegBr] [nvarchar](50) NULL,
	[RobuIzdao] [nvarchar](50) NULL,
	[RobuPrimio] [nvarchar](50) NULL,
	[UkupnaVrednostRobe] [numeric](11, 2) NULL,
	[SifraK] [int] NULL,
	[SifraM] [int] NULL,
	[UkupnaZapreminaPosiljke] [numeric](11, 2) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proizvod]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proizvod](
	[Sifra] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
	[Dimenzija] [dbo].[Dimenzija] NULL,
	[SifraTP] [int] NULL,
	[SifraM] [int] NULL,
	[SifraJM] [int] NULL,
	[Materijal] [nvarchar](50) NULL,
	[TipMaterijala] [nvarchar](50) NULL,
	[AktuelnaCena] [numeric](11, 2) NULL,
 CONSTRAINT [PK_Proizvod] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaKataloga]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaKataloga](
	[SifraK] [int] NOT NULL,
	[RB] [int] NOT NULL,
	[Popust] [numeric](11, 2) NULL,
	[CenaSaPopustom] [numeric](11, 2) NULL,
	[SifraP] [int] NULL,
 CONSTRAINT [PK_StavkaKataloga] PRIMARY KEY CLUSTERED 
(
	[SifraK] ASC,
	[RB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkaOtpremnice]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkaOtpremnice](
	[SifraO] [int] NOT NULL,
	[RB] [int] NOT NULL,
	[Kolicina] [dbo].[Kolicina] NULL,
	[Iznos] [numeric](11, 2) NULL,
	[SifraK] [int] NULL,
	[RBK] [int] NULL,
 CONSTRAINT [PK_StavkaOtpremnice] PRIMARY KEY CLUSTERED 
(
	[SifraO] ASC,
	[RB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipMaterijala](
	[Sifra] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipMaterijala] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipProizvoda]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipProizvoda](
	[Sifra] [int] NOT NULL,
	[Naziv] [nvarchar](50) NULL,
 CONSTRAINT [PK_TipProizvoda] PRIMARY KEY CLUSTERED 
(
	[Sifra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USastavu]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USastavu](
	[SifraP] [int] NOT NULL,
	[SifraPDela] [int] NOT NULL,
	[Kolicina] [dbo].[Kolicina] NULL,
	[TipProizvoda] [nvarchar](50) NULL,
 CONSTRAINT [PK_USastavu] PRIMARY KEY CLUSTERED 
(
	[SifraP] ASC,
	[SifraPDela] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[GARANCIJA_VIEW]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[GARANCIJA_VIEW]
AS
SELECT        gg.Sifra as Sifra, Datum, Napomena, Kupac, TelBrojKupca, AdresaKupca, EmailKupca, ImeProdavca, TelBrProdavca, AdresaProdavca, SifraR, RBR
FROM            GarancijaGlavno gg INNER JOIN
                         GarancijaDetalji gd ON gg.Sifra=gd.Sifra


GO
INSERT [dbo].[JedinicaMere] ([Sifra], [Naziv]) VALUES (1, N'kom')
INSERT [dbo].[JedinicaMere] ([Sifra], [Naziv]) VALUES (2, N'm2')
INSERT [dbo].[JedinicaMere] ([Sifra], [Naziv]) VALUES (3, N'kg')
GO
INSERT [dbo].[Kupac] ([Sifra], [Mesto], [Kontakt]) VALUES (1, N'Mesto 1', N'Kontakt 1')
INSERT [dbo].[Kupac] ([Sifra], [Mesto], [Kontakt]) VALUES (2, N'Mesto 1', N'Kontakt 2')
INSERT [dbo].[Kupac] ([Sifra], [Mesto], [Kontakt]) VALUES (3, N'Mesto 2', N'Kontakt 3')
GO
INSERT [dbo].[Materijal] ([Sifra], [Naziv], [UvecanjeCene], [TipM]) VALUES (1, N'Mat 1.1', NULL, 1)
INSERT [dbo].[Materijal] ([Sifra], [Naziv], [UvecanjeCene], [TipM]) VALUES (2, N'Mat 2', NULL, 2)
INSERT [dbo].[Materijal] ([Sifra], [Naziv], [UvecanjeCene], [TipM]) VALUES (3, N'Mat 3', NULL, 3)
GO
INSERT [dbo].[OsnovnaCena] ([SifraP], [Datum], [Iznos]) VALUES (1, CAST(N'2020-11-12' AS Date), CAST(1000.00 AS Numeric(11, 2)))
INSERT [dbo].[OsnovnaCena] ([SifraP], [Datum], [Iznos]) VALUES (1, CAST(N'2020-11-14' AS Date), CAST(1200.00 AS Numeric(11, 2)))
INSERT [dbo].[OsnovnaCena] ([SifraP], [Datum], [Iznos]) VALUES (1, CAST(N'2020-12-12' AS Date), CAST(1500.00 AS Numeric(11, 2)))
GO
INSERT [dbo].[Otpremnica] ([Sifra], [Datum], [Napomena], [AdresaIsporuke], [Vozac], [VoziloRegBr], [RobuIzdao], [RobuPrimio], [UkupnaVrednostRobe], [SifraK], [SifraM], [UkupnaZapreminaPosiljke]) VALUES (1, NULL, NULL, NULL, NULL, NULL, NULL, NULL, CAST(12221.00 AS Numeric(11, 2)), NULL, NULL, CAST(12.19 AS Numeric(11, 2)))
INSERT [dbo].[Otpremnica] ([Sifra], [Datum], [Napomena], [AdresaIsporuke], [Vozac], [VoziloRegBr], [RobuIzdao], [RobuPrimio], [UkupnaVrednostRobe], [SifraK], [SifraM], [UkupnaZapreminaPosiljke]) VALUES (2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
GO
INSERT [dbo].[Proizvod] ([Sifra], [Naziv], [Dimenzija], [SifraTP], [SifraM], [SifraJM], [Materijal], [TipMaterijala], [AktuelnaCena]) VALUES (1, N'Proi 33', 0x8000000A8000000A8000000A00, 1, 1, 1, N'Mat 1.1', N'Tip 1', CAST(1200.00 AS Numeric(11, 2)))
INSERT [dbo].[Proizvod] ([Sifra], [Naziv], [Dimenzija], [SifraTP], [SifraM], [SifraJM], [Materijal], [TipMaterijala], [AktuelnaCena]) VALUES (2, N'Pro 2', 0x8000000A8000000A8000000A00, 2, 3, 1, N'Mat 3', N'TipMat 3', NULL)
INSERT [dbo].[Proizvod] ([Sifra], [Naziv], [Dimenzija], [SifraTP], [SifraM], [SifraJM], [Materijal], [TipMaterijala], [AktuelnaCena]) VALUES (3, N'Pro 3', 0x8000000A8000000A8000000A00, 3, 3, 1, N'Mat 3', N'TipMat 3', NULL)
GO
INSERT [dbo].[StavkaKataloga] ([SifraK], [RB], [Popust], [CenaSaPopustom], [SifraP]) VALUES (1, 1, CAST(20.00 AS Numeric(11, 2)), CAST(200.00 AS Numeric(11, 2)), 1)
INSERT [dbo].[StavkaKataloga] ([SifraK], [RB], [Popust], [CenaSaPopustom], [SifraP]) VALUES (1, 2, CAST(30.00 AS Numeric(11, 2)), CAST(400.00 AS Numeric(11, 2)), 2)
INSERT [dbo].[StavkaKataloga] ([SifraK], [RB], [Popust], [CenaSaPopustom], [SifraP]) VALUES (1, 3, CAST(20.00 AS Numeric(11, 2)), CAST(1000.00 AS Numeric(11, 2)), 5)
GO
INSERT [dbo].[StavkaOtpremnice] ([SifraO], [RB], [Kolicina], [Iznos], [SifraK], [RBK]) VALUES (1, 2, CAST(3 AS Numeric(10, 0)), CAST(5555.00 AS Numeric(11, 2)), 1, 1)
INSERT [dbo].[StavkaOtpremnice] ([SifraO], [RB], [Kolicina], [Iznos], [SifraK], [RBK]) VALUES (1, 3, CAST(6 AS Numeric(10, 0)), CAST(6666.00 AS Numeric(11, 2)), 1, 3)
GO
INSERT [dbo].[TipMaterijala] ([Sifra], [Naziv]) VALUES (1, N'Tip 1')
INSERT [dbo].[TipMaterijala] ([Sifra], [Naziv]) VALUES (2, N'TipMat 2.2')
INSERT [dbo].[TipMaterijala] ([Sifra], [Naziv]) VALUES (3, N'TipMat 3')
GO
INSERT [dbo].[TipProizvoda] ([Sifra], [Naziv]) VALUES (1, N'Tip 1')
INSERT [dbo].[TipProizvoda] ([Sifra], [Naziv]) VALUES (2, N'TipPro 2.2')
INSERT [dbo].[TipProizvoda] ([Sifra], [Naziv]) VALUES (3, N'TipPro 3')
GO
INSERT [dbo].[USastavu] ([SifraP], [SifraPDela], [Kolicina], [TipProizvoda]) VALUES (1, 3, CAST(5 AS Numeric(10, 0)), N'TipPro 3')
INSERT [dbo].[USastavu] ([SifraP], [SifraPDela], [Kolicina], [TipProizvoda]) VALUES (5, 2, CAST(7 AS Numeric(10, 0)), N'TipPro 2.2')
INSERT [dbo].[USastavu] ([SifraP], [SifraPDela], [Kolicina], [TipProizvoda]) VALUES (5, 3, CAST(9 AS Numeric(10, 0)), N'TipPro 3')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [INDEXKat_Datum_Broj]    Script Date: 12/23/2020 3:57:02 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [INDEXKat_Datum_Broj] ON [dbo].[Katalog]
(
	[Datum] ASC,
	[BrojKataloga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GarancijaDetalji]  WITH CHECK ADD  CONSTRAINT [FK_GarancijaDetalji_GarancijaGlavno] FOREIGN KEY([Sifra])
REFERENCES [dbo].[GarancijaGlavno] ([Sifra])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[GarancijaDetalji] CHECK CONSTRAINT [FK_GarancijaDetalji_GarancijaGlavno]
GO
ALTER TABLE [dbo].[OsnovnaCena]  WITH CHECK ADD  CONSTRAINT [FK_OsnovnaCena_Proizvod] FOREIGN KEY([SifraP])
REFERENCES [dbo].[Proizvod] ([Sifra])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OsnovnaCena] CHECK CONSTRAINT [FK_OsnovnaCena_Proizvod]
GO
ALTER TABLE [dbo].[USastavu]  WITH CHECK ADD  CONSTRAINT [FK_USastavu_Proizvod] FOREIGN KEY([SifraP])
REFERENCES [dbo].[Proizvod] ([Sifra])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USastavu] CHECK CONSTRAINT [FK_USastavu_Proizvod]
GO
ALTER TABLE [dbo].[USastavu]  WITH CHECK ADD  CONSTRAINT [FK_USastavu_Proizvod1] FOREIGN KEY([SifraPDela])
REFERENCES [dbo].[Proizvod] ([Sifra])
GO
ALTER TABLE [dbo].[USastavu] CHECK CONSTRAINT [FK_USastavu_Proizvod1]
GO
/****** Object:  StoredProcedure [dbo].[AktuelnaCena]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AktuelnaCena]
@SifraP int= 0
AS
BEGIN
SET NOCOUNT ON;
declare @cena numeric(11,2);
SELECT @cena =ISNULL(
oc.Iznos,0)
FROM OsnovnaCena oc 
WHERE oc.SifraP=@SifraP and Datum=(Select max(Datum) from OsnovnaCena where SifraP=@SifraP and Datum<=CURRENT_TIMESTAMP );

DISABLE TRIGGER ZabranaUnosaAktuelneCene on Proizvod;
UPDATE Proizvod
SET AktuelnaCena = @cena
WHERE  Sifra= @SifraP;

ENABLE TRIGGER ZabranaUnosaAktuelneCene on Proizvod;
END

GO
/****** Object:  StoredProcedure [dbo].[UkupnaVrednostRobe]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[UkupnaVrednostRobe]
@IDO int= 0
AS
BEGIN
SET NOCOUNT ON;
declare @ukupno numeric(11,2)
SELECT @ukupno =ISNULL(
SUM(Iznos),0)
FROM STAVKAOTPREMNICE WHERE SifraO=@IDO;

DISABLE TRIGGER ZabranaIzmeneUkupnaVrednostRobe on Otpremnica;
UPDATE Otpremnica
SET UkupnaVrednostRobe = @ukupno WHERE  Sifra= @IDO;

ENABLE TRIGGER ZabranaIzmeneUkupnaVrednostRobe on Otpremnica;
END
GO
/****** Object:  StoredProcedure [dbo].[UkupnaZapreminaPosiljke]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UkupnaZapreminaPosiljke]
@IDO int= 0
AS
BEGIN
SET NOCOUNT ON;
declare @ukupno numeric(11,2)
SELECT @ukupno =ISNULL(
SUM((p.Dimenzija.Duzina*p.Dimenzija.Sirina*p.Dimenzija.Visina*so.Kolicina)),0)
FROM STAVKAOTPREMNICE so inner join StavkaKataloga sk on (so.SifraK=sk.SifraK and so.RBK=sk.RB) inner join Proizvod p on p.Sifra=sk.SifraP WHERE so.SifraO=@IDO;

DISABLE TRIGGER ZabranaIzmeneUkupnaZapreminaPosiljke on Otpremnica;
UPDATE Otpremnica
SET UkupnaZapreminaPosiljke =ROUND( @ukupno/1000000,2) WHERE  Sifra= @IDO;

ENABLE TRIGGER ZabranaIzmeneUkupnaZapreminaPosiljke on Otpremnica;
END
GO
/****** Object:  Trigger [dbo].[IzmeniNazivMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmeniNazivMaterijala]
ON  [dbo].[Materijal]
FOR UPDATE
AS
BEGIN
	if update(Naziv)		
	BEGIN
declare @id int, @naziv nvarchar(50); 

DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT Sifra FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		select @naziv=Naziv from inserted where Sifra=@id;
		DISABLE TRIGGER ZabranaIzmeneMaterijala ON  Proizvod
		
		update Proizvod set Materijal=@naziv where SifraM=@id;
	
		ENABLE TRIGGER ZabranaIzmeneMaterijala ON Proizvod		
		 FETCH NEXT FROM my_CursorIDP into @id
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP


 END

END


GO
ALTER TABLE [dbo].[Materijal] ENABLE TRIGGER [IzmeniNazivMaterijala]
GO
/****** Object:  Trigger [dbo].[IzmeniNazivTipaMaterijalaNaOsnovuTipM]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmeniNazivTipaMaterijalaNaOsnovuTipM]
ON  [dbo].[Materijal]
FOR UPDATE
AS
BEGIN
	if update(TipM)		
	BEGIN
declare @id int, @idtm int, @naziv nvarchar(50);

DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT Sifra FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

  select @idtm=TipM from inserted where Sifra=@id;
		Select @naziv=Naziv from TipMaterijala where Sifra=@idtm;
		DISABLE TRIGGER ZabranaIzmeneTipaMaterijala ON  Proizvod
		
		update Proizvod set TipMaterijala=@naziv where SifraM=@id;
	
		ENABLE TRIGGER ZabranaIzmeneTipaMaterijala ON Proizvod		
	
		 FETCH NEXT FROM my_CursorIDP into @id
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP


 END

END
GO
ALTER TABLE [dbo].[Materijal] ENABLE TRIGGER [IzmeniNazivTipaMaterijalaNaOsnovuTipM]
GO
/****** Object:  Trigger [dbo].[DeleteCena]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[DeleteCena]
ON  [dbo].[OsnovnaCena]
FOR DELETE
AS
BEGIN
	declare @idp int;
	DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT SifraP FROM DELETED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @idp

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		begin
		EXECUTE AktuelnaCena @idp;
		end
		 FETCH NEXT FROM my_CursorIDP into @idp
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP
	
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[OsnovnaCena] ENABLE TRIGGER [DeleteCena]
GO
/****** Object:  Trigger [dbo].[InsertCena]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[InsertCena]
ON  [dbo].[OsnovnaCena]
FOR INSERT
AS
BEGIN
	declare @idp int;
		begin
		select @idp=SifraP from inserted;
		EXECUTE AktuelnaCena @idp;
	END;
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[OsnovnaCena] ENABLE TRIGGER [InsertCena]
GO
/****** Object:  Trigger [dbo].[UpdateCena]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[UpdateCena]
ON  [dbo].[OsnovnaCena]
FOR UPDATE
AS
BEGIN
	declare @idp int;
	DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT SifraP FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @idp

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		begin
		EXECUTE AktuelnaCena @idp;
		end
		 FETCH NEXT FROM my_CursorIDP into @idp
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP
	
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[OsnovnaCena] ENABLE TRIGGER [UpdateCena]
GO
/****** Object:  Trigger [dbo].[ZabranaIzmeneUkupnaVrednostRobe]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE trigger [dbo].[ZabranaIzmeneUkupnaVrednostRobe]
ON  [dbo].[Otpremnica]
FOR UPDATE
AS
BEGIN
	if update(UkupnaVRednostRobe)
		begin
		raiserror('Zabranjena je direktna izmena polja ukupna vrednost robe!', 16, -1)		
ROLLBACK;
	END;
	SET NOCOUNT ON;
END

GO
ALTER TABLE [dbo].[Otpremnica] ENABLE TRIGGER [ZabranaIzmeneUkupnaVrednostRobe]
GO
/****** Object:  Trigger [dbo].[ZabranaIzmeneUkupnaZapreminaPosiljke]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[ZabranaIzmeneUkupnaZapreminaPosiljke]
ON  [dbo].[Otpremnica]
FOR UPDATE
AS
BEGIN
	if update(UkupnaZapreminaPosiljke)
		begin
		raiserror('Zabranjena je direktna izmena polja ukupna zapremina posiljke!', 16, -1)		
ROLLBACK;
	END;
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[Otpremnica] ENABLE TRIGGER [ZabranaIzmeneUkupnaZapreminaPosiljke]
GO
/****** Object:  Trigger [dbo].[IzmenaNazivaMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmenaNazivaMaterijala]
ON  [dbo].[Proizvod]
FOR UPDATE
AS
BEGIN
	if update(SifraM)		
	BEGIN
	 
 declare @id int, @naziv nvarchar(50);	

 DISABLE TRIGGER ZabranaIzmeneMaterijala ON  Proizvod;

DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT Sifra FROM INSERTED;

 OPEN my_CursorIDP;
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		select @Naziv=Naziv from Materijal where Sifra=@id;	  
		update Proizvod set Materijal=@naziv where SifraM=@id;
		 FETCH NEXT FROM my_CursorIDP into @id
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP;

 ENABLE TRIGGER ZabranaIzmeneTipaMaterijala ON  Proizvod;
END
END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [IzmenaNazivaMaterijala]
GO
/****** Object:  Trigger [dbo].[IzmenaNazivaTipaMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmenaNazivaTipaMaterijala]
ON  [dbo].[Proizvod]
FOR UPDATE
AS
BEGIN
	if update(SifraM)		
	BEGIN
	
 declare @id int,  @naziv nvarchar(50);
 DISABLE TRIGGER ZabranaIzmeneTipaMaterijala ON  Proizvod;
 DECLARE my_CursorIDP CURSOR FAST_FORWARD FORWARD_ONLY FOR SELECT SifraM FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		select @Naziv=t.Naziv from Materijal m inner join TipMaterijala t on m.TipM=t.Sifra  where m.Sifra=@id;
		update Proizvod set TipMaterijala=@naziv where SifraM=@id;
		 FETCH NEXT FROM my_CursorIDP into @id
 END
 
CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP;

ENABLE TRIGGER ZabranaIzmeneTipaMaterijala ON Proizvod	;

END
END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [IzmenaNazivaTipaMaterijala]
GO
/****** Object:  Trigger [dbo].[IzmeniSifraTP]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmeniSifraTP]
ON  [dbo].[Proizvod]
FOR UPDATE
AS
BEGIN
	if update(SifraTP)		
	BEGIN
declare @id int, @idtp int, @naziv nvarchar(50);

 DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT Sifra FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 
        select @idtp=SifraTP from inserted where Sifra=@id;
		select @Naziv=Naziv from TipPRoizvoda where Sifra=@idtp;
		DISABLE TRIGGER ZabranaIzmeneTipaProizvoda ON USastavu
		
		update USastavu set TipProizvoda=@naziv where SifraPDela=@id;
	
		ENABLE TRIGGER ZabranaIzmeneTipaProizvoda ON USastavu		
		 FETCH NEXT FROM my_CursorIDP into @id
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP
 END

END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [IzmeniSifraTP]
GO
/****** Object:  Trigger [dbo].[UnosNazivaMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[UnosNazivaMaterijala]
ON  [dbo].[Proizvod]
FOR INSERT
AS
BEGIN
	
declare @id int, @naziv nvarchar(50);

 select @id=SifraM from inserted;
 select @Naziv=Naziv from Materijal where Sifra=@id;
		DISABLE TRIGGER ZabranaIzmeneMaterijala ON  Proizvod
		
		update Proizvod set Materijal=@naziv where SifraM=@id;
	
		ENABLE TRIGGER ZabranaIzmeneMaterijala ON Proizvod
	

END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [UnosNazivaMaterijala]
GO
/****** Object:  Trigger [dbo].[UnosNazivaTipaMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[UnosNazivaTipaMaterijala]
ON  [dbo].[Proizvod]
FOR INSERT
AS
BEGIN
	
declare @id int, @naziv nvarchar(50);

 select @id=SifraM from inserted;
 select @Naziv=t.Naziv from Materijal m inner join TipMaterijala t on m.TipM=t.Sifra  where m.Sifra=@id;
		DISABLE TRIGGER ZabranaIzmeneTipaMaterijala ON  Proizvod
		
		update Proizvod set TipMaterijala=@naziv where SifraM=@id;
	
		ENABLE TRIGGER ZabranaIzmeneTipaMaterijala ON Proizvod
	

END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [UnosNazivaTipaMaterijala]
GO
/****** Object:  Trigger [dbo].[ZabranaIzmeneMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[ZabranaIzmeneMaterijala]
ON  [dbo].[Proizvod]
FOR UPDATE
AS
BEGIN
	if update(Materijal)
		begin
		raiserror('Zabranjena je direktna izmena polja Materijal!', 16, -1)		
ROLLBACK;
	END;
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[Proizvod] DISABLE TRIGGER [ZabranaIzmeneMaterijala]
GO
/****** Object:  Trigger [dbo].[ZabranaIzmeneTipaMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[ZabranaIzmeneTipaMaterijala]
ON  [dbo].[Proizvod]
FOR UPDATE
AS
BEGIN
	if update(TipMaterijala)
		begin
		raiserror('Zabranjena je direktna izmena polja Tip materijala!', 16, -1)		
ROLLBACK;
	END;
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [ZabranaIzmeneTipaMaterijala]
GO
/****** Object:  Trigger [dbo].[ZabranaUnosaAktuelneCene]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[ZabranaUnosaAktuelneCene]
ON  [dbo].[Proizvod]
FOR UPDATE
AS
BEGIN
	if update(AktuelnaCena)
		begin
		raiserror('Zabranjena je direktna izmena polja aktuelna cena proizvoda!', 16, -1)		
ROLLBACK;
	END;
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[Proizvod] ENABLE TRIGGER [ZabranaUnosaAktuelneCene]
GO
/****** Object:  Trigger [dbo].[DeleteStavkeOtpremnice]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[DeleteStavkeOtpremnice]
ON  [dbo].[StavkaOtpremnice] 
AFTER DELETE
AS
	
BEGIN
SET NOCOUNT ON;
DECLARE @IDO int;
SELECT @IDO=SifraO FROM Deleted;
EXECUTE UkupnaVrednostRobe @IDO;
EXECUTE UkupnaZapreminaPosiljke @IDO;
END



GO
ALTER TABLE [dbo].[StavkaOtpremnice] ENABLE TRIGGER [DeleteStavkeOtpremnice]
GO
/****** Object:  Trigger [dbo].[InsertStavkaOtpremnice]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TRIGGER [dbo].[InsertStavkaOtpremnice]
ON  [dbo].[StavkaOtpremnice] 
AFTER INSERT
AS
	
BEGIN
SET NOCOUNT ON;
DECLARE @IDO int;
SELECT @IDO=SifraO FROM Inserted;
EXECUTE UkupnaVrednostRobe @IDO;
EXECUTE UkupnaZapreminaPosiljke @IDO;
END


GO
ALTER TABLE [dbo].[StavkaOtpremnice] ENABLE TRIGGER [InsertStavkaOtpremnice]
GO
/****** Object:  Trigger [dbo].[UpdateStavkaOtpremnice]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateStavkaOtpremnice]
ON  [dbo].[StavkaOtpremnice] 
AFTER UPDATE
AS	
BEGIN
SET NOCOUNT ON;
DECLARE @IDO int;
SELECT @IDO=SifraO FROM Inserted;
EXECUTE UkupnaVrednostRobe @IDO;
EXECUTE UkupnaZapreminaPosiljke @IDO;
END
GO
ALTER TABLE [dbo].[StavkaOtpremnice] ENABLE TRIGGER [UpdateStavkaOtpremnice]
GO
/****** Object:  Trigger [dbo].[IzmeniNazivTipaMaterijala]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmeniNazivTipaMaterijala]
ON  [dbo].[TipMaterijala]
FOR UPDATE
AS
BEGIN
	if update(Naziv)		
	BEGIN
declare @id int, @naziv nvarchar(50);

 DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT Sifra FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		select @naziv=Naziv from inserted where Sifra=@id;
		DISABLE TRIGGER ZabranaIzmeneTipaMaterijala ON  Proizvod
		
		update Proizvod set TipMaterijala=@naziv where SifraM in (Select Sifra from Materijal where TipM= @id);
	
		ENABLE TRIGGER ZabranaIzmeneTipaMaterijala ON Proizvod		
		 FETCH NEXT FROM my_CursorIDP into @id
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP
 END

END
GO
ALTER TABLE [dbo].[TipMaterijala] ENABLE TRIGGER [IzmeniNazivTipaMaterijala]
GO
/****** Object:  Trigger [dbo].[IzmeniTipProizvoda]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[IzmeniTipProizvoda]
ON  [dbo].[TipProizvoda]
FOR UPDATE
AS
BEGIN
	if update(Naziv)		
	BEGIN
declare @id int, @naziv nvarchar(50);

DECLARE my_CursorIDP CURSOR FAST_FORWARD FOR SELECT Sifra FROM INSERTED;

 OPEN my_CursorIDP
 FETCH NEXT FROM my_CursorIDP into @id

 WHILE @@FETCH_STATUS = 0 
 BEGIN 

		select @naziv=Naziv from inserted where Sifra=@id;
		DISABLE TRIGGER [ZabranaIzmeneTipaProizvoda] ON  USastavu
		
		update USastavu set TipProizvoda=@naziv where SifraPDela in (Select Sifra from Proizvod where SifraTP=@id);
	
		ENABLE TRIGGER [ZabranaIzmeneTipaProizvoda] ON USastavu		
		 FETCH NEXT FROM my_CursorIDP into @id
 END

CLOSE my_CursorIDP
DEALLOCATE my_CursorIDP


 END

END
GO
ALTER TABLE [dbo].[TipProizvoda] ENABLE TRIGGER [IzmeniTipProizvoda]
GO
/****** Object:  Trigger [dbo].[UnesiNazivTipaProizvodaUSastavnicu]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[UnesiNazivTipaProizvodaUSastavnicu]
ON  [dbo].[USastavu]
FOR INSERT
AS
BEGIN
	
declare @id int, @naziv nvarchar(50);

 select @id=SifraPDela from inserted;
 select @naziv=tp.Naziv from Proizvod p inner join TipProizvoda tp on p.SifraTP=tp.Sifra where p.Sifra=@id;
		DISABLE TRIGGER ZabranaIzmeneTipaProizvoda ON USastavu	
		
		update USastavu set TipProizvoda=@naziv where SifraPDela=@id;
	
		ENABLE TRIGGER ZabranaIzmeneTipaProizvoda ON USastavu			
 END
GO
ALTER TABLE [dbo].[USastavu] ENABLE TRIGGER [UnesiNazivTipaProizvodaUSastavnicu]
GO
/****** Object:  Trigger [dbo].[ZabranaIzmeneTipaProizvoda]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE trigger [dbo].[ZabranaIzmeneTipaProizvoda]
ON  [dbo].[USastavu]
FOR UPDATE
AS
BEGIN
	if update(TipProizvoda)
		begin
		raiserror('Zabranjena je direktna izmena polja Tip proizvoda!', 16, -1)		
ROLLBACK;
	END;
	SET NOCOUNT ON;
END
GO
ALTER TABLE [dbo].[USastavu] ENABLE TRIGGER [ZabranaIzmeneTipaProizvoda]
GO
/****** Object:  Trigger [dbo].[DeleteGarancija]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[DeleteGarancija]
   ON  [dbo].[GARANCIJA_VIEW]
   INSTEAD OF DELETE
AS 
BEGIN
	SET NOCOUNT ON;  
	Delete from GarancijaGlavno where Sifra=(Select Sifra from Deleted);
	
END
GO
/****** Object:  Trigger [dbo].[InsertGarancija]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[InsertGarancija]
   ON  [dbo].[GARANCIJA_VIEW]
   INSTEAD OF INSERT
AS 
BEGIN
	
	Insert into GarancijaGlavno select Sifra, Datum, Kupac from inserted;
	Insert into GarancijaDetalji select Sifra, Napomena, TelBrojKupca, AdresaKupca, EmailKupca, ImeProdavca, TelBrProdavca, AdresaProdavca, SifraR, RBR from inserted;

	SET NOCOUNT ON;  

END
GO
/****** Object:  Trigger [dbo].[UpdateGarancija]    Script Date: 12/23/2020 3:57:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[UpdateGarancija]
   ON  [dbo].[GARANCIJA_VIEW]
   INSTEAD OF UPDATE
AS 
BEGIN
	SET NOCOUNT ON;  
	Update GarancijaGlavno set Datum=i.Datum, Kupac=i.Kupac  from GarancijaGlavno g, inserted i where g.Sifra =i.Sifra;
	Update GarancijaDetalji set Sifra=i.Sifra, Napomena=i.Napomena, TelBrojKupca=i.TelBrojKupca, AdresaKupca=i.AdresaKupca, EmailKupca=i.EmailKupca, ImeProdavca=i.ImeProdavca, TelBrProdavca=i.TelBrProdavca, AdresaProdavca=i.AdresaProdavca, SifraR=i.SifraR, RBR=i.RBR from GarancijaDetalji g, inserted i where g.Sifra =i.Sifra;

	END
GO
USE [master]
GO
